/*
   Custom CSS for ASB greenID 

   Author: MK;

	Colors
	Background 	#000000
	Text Color 	#FFFFFF
	Yellow       #FCBD1B

 */

html {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
	background: #000;
	color: #fff;
}

/* 
 * -- General - All Screens -- 
 */

/* Each page outer container */
.greenid-so-content {
	background-color: #000000;
	background-image: url('https://markcalvert.github.io/ASB/images/background_414px.jpg');
	background-repeat: no-repeat;
	height: 100%;
	/* default */
	/* padding: 35px 30px 30px */
	padding: 0px;
}


/* The inner block inside each page */
#greenid-container {
	background-color: transparent;
	color: #FFFFFF;
	margin: 0 32px;
	padding-top: 20px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
}

.greenid-so-content #greenid-container h1,
.greenid-so-content #greenid-container h2,
.greenid-so-content #greenid-container h4,
.greenid-so-content #greenid-container label,
.greenid-so-content #greenid-container .greenid-so-content-agree-label,
.greenid-so-content #greenid-container .btn,
.greenid-so-modal#greenid-wait-modal .modal-body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
}

.greenid-so-content #greenid-container h1 strong,
.greenid-so-content #greenid-container strong {
		font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
		font-weight: bold;
	}


/* Navigation bar at the top */
.greenid-so-content-nav {
	min-height: 44px;
	border-bottom: none;
	background-color: #000000;
	background-image: url('https://markcalvert.github.io/ASB/images/ASB_logo_yellow.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 -32px;
}

/* Navigation bar */
.greenid-so-content #greenid-container .greenid-so-content-nav {
	background-color: #000000;
	min-height: 44px;
}

/* Back button in nav bar */
.greenid-so-content #greenid-container .btn-back {
	background-color: transparent;
	background-image: url('https://markcalvert.github.io/ASB/images/yellow-back-arrow.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 18px 25px;
	color: #FCBD1B;
	margin-left: 6px;
	margin-top: 10px;
}

/* Cancel button in nav bar */
.greenid-so-content #greenid-container .btn-cancel {
	background-image: none;
	background-color: #000000;
	color: #FCBD1B;
	/*position: absolute;
  top: 0;
  right: 0;
	  */
	margin-right: 15px;
	margin-top: 10px;
}


/* 
 * General Pages Headings
 */

/* H1 heading */
.greenid-so-content #greenid-container h1 {
	color: #FFFFFF;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 300;
}

/* p text below H1 heading */
.greenid-so-content #greenid-container p {
	font-size: 15px;
	font-weight: normal;
}


/* Dropdown selection */
.greenid-so-content #greenid-container .greenid-so-content-select-item {
	border: 2px solid #FCBD1B;
	border-radius: 2px;
	background: transparent;
	color: #FCBD1B;
	font-weight: 600;
}

/* Dropdown arrow icon */
.greenid-so-content #greenid-container .greenid-so-content-select-noicon-dropdown {
	/* background-image: none, url('/df/assets/images/so-select-arrow-dn.png');*/
	margin-top: 25px;
}

.greenid-so-content #greenid-container .greenid-so-content-select-noicon-dropdown.greenid-so-content-select-item-nohover:focus,
.greenid-so-content #greenid-container .greenid-so-content-select-noicon-dropdown.greenid-so-content-select-item-nohover:hover {
		background-image: none; /*, url('/df/assets/images/so-select-arrow-dn.png');*/
	}

.greenid-so-content #greenid-container .greenid-so-content-select-noicon-dropdown:focus,
.greenid-so-content #greenid-container .greenid-so-content-select-noicon-dropdown:hover {
		background-image: none; /*, url('/df/assets/images/so-select-arrow-dn-reverse.png');*/
	}

.greenid-so-content #greenid-container .greenid-so-content-select-item-nohover:focus,
.greenid-so-content #greenid-container .greenid-so-content-select-item-nohover:hover {
	background-color: #000000;
	color: #FCBD1B;
}

/* Dropdown item */
#greenid-container .list-group-item {
	background-color: #000;
	border: none;
	border-top: 2px solid #FCBD1B;
	padding: 20px 15px;
}


/* 
 * -- Confirm ocr page -- 
 */

.greenid-so-content #greenid-so-content-confirm-details {
}

/* form */
form#greenid-so-confirm-details-form {
}

.greenid-so-content #greenid-container label {
	font-size: 15px;
	color: #fff;
	text-transform: none;
}

.greenid-so-content #greenid-container .form-group {
	height: 55px;
	margin-bottom: 22px;
}

#greenid-container label {
	margin-bottom: 0;
}

.input-group {
	background-color: transparent;
}

#greenid-container .input-group {
	border-bottom: solid 1px #fcbd1b;
	width: 100%;
	margin-bottom: 22px;
}

/* Input fields */

.greenid-so-content #greenid-container input[type='text'],
.greenid-so-content #greenid-container input[type='number'],
.greenid-so-content #greenid-container input[type='date'],
.greenid-so-content #greenid-container input[type='tel'],
.greenid-so-content #greenid-container input[type='email'],
.greenid-so-content #greenid-container input[type='password'],
.greenid-so-content #greenid-container input[type='datetime'],
.greenid-so-content #greenid-container input[type='month'],
.greenid-so-content #greenid-container textarea {
	background-color: transparent;
	border: none;
	padding: 2px 0;
	font-size: 24px;
	color: #fff;
}

/* Calendar input button */
#greenid-container .input-group-addon {
	background-color: transparent;
	border: none;
	/*color: #FCBD1B;*/
}

/* clear button next to input */

#greenid-container .input-group-btn {
	background-color: transparent;
}

.greenid-so-content #greenid-container .input-group-btn button {
	background-color: transparent;
	border: none;
}

/* Primary button - usually next or continue */
.greenid-so-content #greenid-container .btn-primary {
	background-color: #FCBD1B;
	border-radius: 2px;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
}

#greenid-container .btn-primary:hover,
#greenid-container .btn-primary:focus,
#greenid-container .btn-primary:active,
#greenid-container .btn-primary.active {
	background-color: #FCBD1B;
}

#greenid-container .btn-primary.disabled,
#greenid-container .btn-primary[disabled],
#greenid-container .btn-primary.disabled:hover,
#greenid-container .btn-primary[disabled]:hover,
#greenid-container .btn-primary.disabled:focus,
#greenid-container .btn-primary[disabled]:focus,
#greenid-container .btn-primary.disabled:active,
#greenid-container .btn-primary[disabled]:active,
#greenid-container .btn-primary.disabled.active,
#greenid-container .btn-primary[disabled].active {
	background-color: #FCBD1B;
}

/* Next button */
.greenid-so-content #greenid-container .btn-next {
	background-image: none;
}

/*loading screen background image */
.greenid-modal {
	background-image: url('https://markcalvert.github.io/ASB/images/background_414px.jpg');
}
.greenid-so-modal .modal-content {
	background-color:transparent;
}
.greenid-so-modal .greenid-loader-container {
  background-image: url('https://markcalvert.github.io/ASB/images/ring-on-blk.gif');

}
/*loading screen font colour */
.greenid-so-modal#greenid-wait-modal .modal-body {
	color: #FFF;
}


/* Selfie Steps Text colour */
.greenid-so-content #greenid-container .greenid-so-content-dropcap {
	color: #fff;
	background-image: url(https://markcalvert.github.io/ASB/images/hex-1.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: 2px 8px;
	padding-left: 15px;
	padding-right: 15px;
	/* top: 0px; */
	left: -50px;
	/* font-size: 41px; */
	/* font-weight: 600; */
	font-family: -apple-system, BlinkMacSystemFon;
}

/* Skip the instructions Text colour */
#greenid-container .btn-link {
	color: #FCBD1B;
}

/* Button Focus colour */
.greenid-so-content #greenid-container .input-group-btn button:focus,
.greenid-so-content #greenid-container .input-group-btn button:hover {
	color: #FCBD1B;
}

/* Clear textbox Button */
.glyphicon-remove-circle:before {
	-webkit-text-stroke: 2px black;
	content: "\e014";
}

.greenid-datepicker-container.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: lightgray;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.greenid-datepicker-container.datepicker {
	color: black;
}

.greenid-datepicker-container.datepicker table tr td.active:hover,
.greenid-datepicker-container.datepicker table tr td.active:hover:hover,
.greenid-datepicker-container.datepicker table tr td.active.disabled:hover,
.greenid-datepicker-container.datepicker table tr td.active.disabled:hover:hover,
.greenid-datepicker-container.datepicker table tr td.active:focus,
.greenid-datepicker-container.datepicker table tr td.active:hover:focus,
.greenid-datepicker-container.datepicker table tr td.active.disabled:focus,
.greenid-datepicker-container.datepicker table tr td.active.disabled:hover:focus,
.greenid-datepicker-container.datepicker table tr td.active:active,
.greenid-datepicker-container.datepicker table tr td.active:hover:active,
.greenid-datepicker-container.datepicker table tr td.active.disabled:active,
.greenid-datepicker-container.datepicker table tr td.active.disabled:hover:active,
.greenid-datepicker-container.datepicker table tr td.active.active,
.greenid-datepicker-container.datepicker table tr td.active:hover.active,
.greenid-datepicker-container.datepicker table tr td.active.disabled.active,
.greenid-datepicker-container.datepicker table tr td.active.disabled:hover.active {
	color: #000;
	background-color: #FCBD1B;
	border-color: #FCBD1B;
	}

.greenid-datepicker-container.datepicker table tr td span.active:hover,
.greenid-datepicker-container.datepicker table tr td span.active:hover:hover,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:hover,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:hover:hover,
.greenid-datepicker-container.datepicker table tr td span.active:focus,
.greenid-datepicker-container.datepicker table tr td span.active:hover:focus,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:focus,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:hover:focus,
.greenid-datepicker-container.datepicker table tr td span.active:active,
.greenid-datepicker-container.datepicker table tr td span.active:hover:active,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:active,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:hover:active,
.greenid-datepicker-container.datepicker table tr td span.active.active,
.greenid-datepicker-container.datepicker table tr td span.active:hover.active,
.greenid-datepicker-container.datepicker table tr td span.active.disabled.active,
.greenid-datepicker-container.datepicker table tr td span.active.disabled:hover.active {
	color: #000;
	background-color: #FCBD1B;
	border-color: #FCBD1B;
	}

#greenid-so-agree-item-1 {
	outline: 1px solid #FCBD1B;
}

.greenid-so-content-image-front {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://markcalvert.github.io/ASB/images/instructions_license_310.png') no-repeat center;
  width: 311px;
  height: 220px;
  padding-left: 311px;
}